*{
    margin: 0;
    padding: 0;

}
.cont{
    background-color:rgb(220, 0, 0);
    background-image: url('./img/FONDO.jpg');

    background-size:cover;
    
    background-position:0 200;
    background-attachment: fixed;



    top: 0;
    left: 0;
    right: 0;
    position:absolute;
    
}