.contenedorDestacado{
    margin:0;
    padding:0;
    width: 400px;


}

img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    zoom: initial;
}


.nombreCategoria{
    font-size: 40px;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family:Roboto;
    font-weight: 300;


}