.ContenedorCategoria{

    width: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.64);
    position: fixed;
    top: 144px;
    

}


.categorias{
    width: fit-content;
    margin: auto    ;
    color: rgb(255, 255, 255);
}

.categorias{
    display: flex;
}
