
.ContenedorNav{
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;

    
}
.contenedorNavSuperior{
    margin: auto;
    width: 80%;
    height: 96px;
    border-bottom: 1px solid #000;  
}

.contenedorNavInferior{
    display:flex;
    display: fixed;
    height: 48px;
    display: flex;
    align-items: center;

}


.categorias{
    display: flex;
}



.ContenedorCategorias{
    margin: auto;
    display: flex;
    gap: 48px;
    font-family: Roboto,sans-serif;
    font-weight: 300;}




.categoria1,.categoria2{
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.Categorias li {
    list-style: none;
    float: left;
    padding: 0px 24px;
}



@media only screen and (max-width: 819px) {

    .ContenedorNav{
        display: none;
      } 
  }
  